<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Drinks</key>
	<array>
		<dict>
			<key>name</key>
			<string>REDBULL</string>
			<key>price</key>
			<real>1.29</real>
			<key>imageName</key>
			<string>drink0</string>
			<key>calories</key>
			<integer>250</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>PEPSI</string>
			<key>price</key>
			<real>0.99</real>
			<key>imageName</key>
			<string>drink1</string>
			<key>calories</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>MOJITO</string>
			<key>price</key>
			<real>2.53</real>
			<key>imageName</key>
			<string>drink2</string>
			<key>calories</key>
			<integer>170</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>COLA</string>
			<key>price</key>
			<real>0.99</real>
			<key>imageName</key>
			<string>drink3</string>
			<key>calories</key>
			<integer>300</integer>
		</dict>
	</array>
	<key>Menu</key>
	<array>
		<dict>
			<key>name</key>
			<string>HANBURGER</string>
			<key>price</key>
			<real>0.99</real>
			<key>imageName</key>
			<string>burger0</string>
			<key>calories</key>
			<integer>950</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>CHEESEBURGER</string>
			<key>price</key>
			<real>1.99</real>
			<key>imageName</key>
			<string>burger1</string>
			<key>calories</key>
			<integer>850</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>BIGBURGER</string>
			<key>price</key>
			<real>2.99</real>
			<key>imageName</key>
			<string>burger2</string>
			<key>calories</key>
			<real>1500</real>
		</dict>
		<dict>
			<key>name</key>
			<string>STEAKHOUSE</string>
			<key>price</key>
			<real>3.99</real>
			<key>imageName</key>
			<string>burger3</string>
			<key>calories</key>
			<real>1300</real>
		</dict>
		<dict>
			<key>name</key>
			<string>CLASSIC</string>
			<key>price</key>
			<real>1.59</real>
			<key>imageName</key>
			<string>burger4</string>
			<key>calories</key>
			<real>1100</real>
		</dict>
		<dict>
			<key>name</key>
			<string>OLDBURGER</string>
			<key>price</key>
			<real>2.49</real>
			<key>imageName</key>
			<string>burger5</string>
			<key>calories</key>
			<real>1940</real>
		</dict>
		<dict>
			<key>name</key>
			<string>BLACKHOURSE</string>
			<key>price</key>
			<real>4.89</real>
			<key>imageName</key>
			<string>burger6</string>
			<key>calories</key>
			<real>1520</real>
		</dict>
		<dict>
			<key>name</key>
			<string>CHEESEKING</string>
			<key>price</key>
			<real>3.49</real>
			<key>imageName</key>
			<string>burger7</string>
			<key>calories</key>
			<integer>990</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>DEADINSIDE</string>
			<key>price</key>
			<real>9.93</real>
			<key>imageName</key>
			<string>burger8</string>
			<key>calories</key>
			<integer>1030</integer>
		</dict>
	</array>
</dict>
</plist>
